@inject NavigationManager NavigationManager
@inject IConfiguration Configuration

@if(cultures != null)
            {
                <form class="form-inline">
                    <select class="form-control mr-2 " @bind="selectCulture">
                        <option>select...</option>
                        @foreach(var culture in cultures)
                        {
                        <option value="@culture.Key">@culture.Value</option>
                        }
                    </select>
                    <button class="btn btn-outline-primary" @onclick="RequestCultureChange">Change</button>
                </form>
            }

@code {

    private string selectCulture = System.Threading.Thread.CurrentThread.CurrentCulture.Name;
    private Dictionary<string, string> cultures;

    protected override void OnInitialized()
    {
        cultures = Configuration.GetSection("Cultures").GetChildren().ToDictionary(x => x.Key, x => x.Value);
    }

    private void RequestCultureChange()
    {
        if (string.IsNullOrWhiteSpace(selectCulture))
            return;

        var uri = new Uri(NavigationManager.Uri).GetComponents(UriComponents.PathAndQuery, UriFormat.Unescaped);
        var query = $"?culture={Uri.EscapeDataString(selectCulture)}&redirectUri={Uri.EscapeDataString(uri)}";
        NavigationManager.NavigateTo("/Culture/SetCulture" + query, forceLoad: true);
    }


}
